In [1]:
import pandas as pd
import pathlib as plb

In [7]:
ckey = {'ia':'blue'}
ckey = {k: v for k, v in ckey.items() if v}
ckey

{'ia': 'blue'}

In [5]:
d = {'ia':'blue', 'di':''}
d1 = {k: v or 'blue' for (k, v) in d.items()}
d1

{'ia': 'blue', 'di': 'blue'}

In [2]:
cfpath = '/Users/Emily/Desktop/DS/test/ckey.csv'
dfpath = '/Users/Emily/Desktop/DS/test/Batch_results.csv'
con = 'Compound'

In [11]:
cf = plb.Path(dfpath)
cfile = pd.read_csv(cf)
heds = cfile.columns.to_list()
expected = ['WellNo', 'Total Worms', 'Compound', 'Strain',
   'File Name', 'Well width', 'Plate ID', 'Passes QC']
all(x in heds for x in expected)

True

In [11]:
cond = 'Compound'
control = "2no"
test = "ia"
cf = plb.Path(dfpath)
batch_res= pd.read_csv(cf)
batch_res[cond] = batch_res[cond].apply(str.lower)
filtered = batch_res[(batch_res[cond] == control) | (batch_res[cond] == test)]
filtered

,Unnamed: 0,WellNo,area,Total Worms,Chemotaxis,Compound,Strain,File Name,Well width,Plate ID,Passes QC
0,0,1A,2292683,33.0,0.111111,2no,DOG,S1_002,3037.0,DS2_R1_5,N
1,1,1B,2390131,93.0,-0.358025,2no,DOG,S1_002,3030.0,DS2_R1_5,N
2,2,1C,2374775,130.0,-0.070175,2no,ELK,S1_002,3064.0,DS2_R1_5,N
3,3,1D,2379108,56.0,0.478261,2no,ELK,S1_002,3069.0,DS2_R1_5,N
8,8,3A,2390506,25.0,-0.052632,ia,FOX,S1_002,3073.0,DS2_R1_7,N
9,9,3B,2416466,96.0,-0.263158,ia,FOX,S1_002,3065.0,DS2_R1_7,N
10,10,3C,2369458,60.0,-0.576923,2no,FOX,S1_002,3053.0,DS2_R1_7,N
11,11,3D,2386979,47.0,-0.032258,2no,FOX,S1_002,3077.0,DS2_R1_7,N

In [8]:
dat.columns

Index(['WellNo', 'area', 'Total Worms', 'Chemotaxis', 'Compound', 'Strain',
       'File Name', 'Well width', 'Plate ID', 'Passes QC'],
      dtype='object')